body {
    background-color:skyblue;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    flex: 1;
}
header {
    background-color:navy;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 20;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

nav ul li a:hover {
    border-bottom-color: #fff;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

article {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;

}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}